<section>
	<h1>Add Courses</h1>
<div class="col-sm-4">
<div class="form-group">
  <label for="crn">CRN:</label>
  <input type="text" class="form-control" name="crn" id="crn">
</div>
<div class="form-group">
  <label for="name">Course Name:</label>
  <input type="text" class="form-control" name="name" id="name">
</div>

<div class="form-group">
  <label for="sel1">Department:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

<div class="form-group">
  <label for="sel1">Major:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

<div class="form-group">
  <label for="sel1">Professor:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>

<div class="form-group">
  <label for="desc">Description:</label>
  <textarea class="form-control" rows="4" id="desc"></textarea>
</div>
<button type="submit" class="btn btn-default btn-success">Submit</button>
<button class="btn btn-default btn-primary">Add Another Course</button>
</div>
</section>
